<div class="container-fuild principal">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">{{ titlePage }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Se connecter
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0 d-inline-flex">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0 m-4" type="submit">Search</button>
            </form>
            <button type="button" class="btn btn-danger">anonymous mode.</button>
        </div>
    </nav>

    <div class="row content">
        <div class="col-sm-4">
            <div class="card">
                <app-pastrie-details [pastrie]="selectedPastrie"
                                     [enableChoiceBt]="canChoice"
                                     (changePreference)="changeParentPreference($event)">
                </app-pastrie-details>
                <p>Priorité : {{priority | json}}</p>
            </div>
            <!-- = Ce qu'il y avait en dur avant carte à gauche avec détail de la patisserie selectionée
                <div class="card">
                <img class="card-img-top" src="./assets/images/default_image.png" alt="Pastry Category">
                <div class="card-body">
                    <h5 class="card-title">Viennoiserie</h5>
                    <p class="card-text">Brioche sucrée avec chocolat</p>
                    <a href="#" class="btn btn-primary"> Desc >> </a>
                </div>
                <ul class="list-group">
                    <li class="list-group-item active">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div> 
        -->
        </div>

        <div class="col-sm-8 pastrie">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav><!-- .pagination -->


            <!-- ul li pour lister les patisseries et leurs caractéristiques
            => n'est plus utile mais à conserver pour bien comprendre comment ça fonctionne

                <ul *ngIf="pastries" class="list-inline">
                <li class="list-inline-item" *ngFor="let pastrie of pastries">
                    <span class="badge badge-info">{{ pastrie.id }}</span> {{ pastrie.name }}, {{ pastrie.like }}, {{
                    pastrie.tags }} /
                </li>
            </ul> 
        -->

            <!-- Carte qui fonctionne pour chaque patisserie : -->
            <ng-container *ngIf="pastries">
                <h2>liste des patisseries</h2>
                <div class="card" *ngFor="let pastrie of pastries">
                    <div class="card-header">
                        {{ pastrie.name }}
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ pastrie.description }}</p>
                        <p>like :<a class="btn btn-outline-dark" href="#" role="button">{{ pastrie.like }}</a> </p>
                        <!-- ici faire en sorte que chaque tag soit dans un bouton et qu'il soit tous à coté les uns des autres -->
                        <div class="tags-container">
                            <p>Tag :<a *ngFor="let tag of pastrie.tags" class="badge {{ tag | pastrieTagColor }}" href="#" role="button">{{ tag }}</a></p>
                        </div>                          
                        <!-- Bouton pour voir le détail de la patisserie -->
                        <button class="btn btn-outline-primary" type="button" (click)="OnSelect(pastrie)"
                            clickable>Selectionner</button>
                        <img class="glyph-icon" src="../assets/svg/si-glyph-heart.svg" />
                        <small>{{ pastrie.order }}</small>
                        <img class="glyph-icon" src="./assets/svg/si-glyph-triangle-double-arrow-right.svg" />
                        <small>{{ pastrie.quantity }} unités disponbiles</small>
                        <br>
                        <!-- bouton Choice -->
                    </div>
                </div><!-- fin card générique -->
            </ng-container>
            <!-- Les cartes des patisseries en dur 
            <div class="card">
                <div class="card-header">
                    Viennoiserie
                </div>
                <div class="card-body">
                    <h5 class="card-title">Brioche sucrée avec chocolat</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-outline-primary" href="#" role="button">fr</a>
                    <a class="btn btn-outline-dark" href="#" role="button">brioche</a>

                    <img class="glyph-icon" src="./assets/svg/si-glyph-heart.svg" />
                    <small>7</small>
                    <img class="glyph-icon" src="./assets/svg/si-glyph-triangle-double-arrow-right.svg" />
                    <small>8 unités disponbiles</small>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    Pâtisserie glacée
                </div>
                <div class="card-body">
                    <h5 class="card-title">Banana au chocolat</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-outline-dark" href="#" role="button">us</a>

                    <img class="glyph-icon" src="./assets/svg/si-glyph-heart.svg" />
                    <small>3</small>
                    <img class="glyph-icon" src="./assets/svg/si-glyph-triangle-double-arrow-right.svg" />
                    <small>4 unités disponibles</small>
                </div>
            </div>
        -->

            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav><!-- .pagination -->
        </div><!-- .pastrie -->

    </div>
</div>