<div class="container-fuild principal">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">{{ titlePage }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                        <!-- Ancien se connecter -->
                    <a class="nav-link" href="#">Se connecter
                        <span class="sr-only">(current)</span>
                    </a>
                        <!-- le nouveau par lequel il faut remplacer l'ancien -->
                    <!-- <a class="nav-link" routerLink="/login" routerLinkActive="active">
                        Se connecter
                    </a> -->
                </li>
            </ul>

            <button type="button" class="btn btn-danger">anonymous mode.</button>
        </div>
    </nav>

    <div class="row content">
        <div class="col-sm-4">
            <app-search (searchChange)="filtredPastries($event)"></app-search>
            <div class="card">
                <app-pastrie-details [pastrie]="selectedPastrie" [enableChoiceBt]="canChoice"
                    (changePreference)="changeParentPreference($event)">
                </app-pastrie-details>
                <p>Priorité : {{priority | json}}</p>
            </div>
        </div>

        <div class="col-sm-8 pastrie">
            <!-- Pour la pagination -->
            <app-paginate 
                [currentPage]="currentPage"
                [itemsPerPage]="itemsPerPage"
                [totalItems]="totalItems"
                (pageChanged)="onPageChange($event)"
            ></app-paginate>
            
            <div *ngFor="let pastry of getDisplayedPastries()"></div>

            <ng-container *ngIf="pastries">
                <h2>Liste des pâtisseries</h2>
                <div class="card" *ngFor="let pastrie of getDisplayedPastries()">
                    <div class="card-header">
                        {{ pastrie.name }}
                    </div>
                    <div class="card-body">
                        <img class="card-img-miniature" src={{pastrie?.url}}>
                        <p class="card-text">{{ pastrie.description }}</p>
                        <p>like :<a class="btn btn-outline-dark" role="button">{{ pastrie.like }}</a> </p>
                        <div class="tags-container">
                            <p>Tag :<a *ngFor="let tag of pastrie.tags" class="badge {{ tag | pastrieTagColor }}" role="button">{{ tag }}</a></p>
                        </div>
                        <button class="btn btn-outline-primary" type="button" (click)="OnSelect(pastrie)" clickable>Sélectionner</button>
                        <img class="glyph-icon" src="../svg/si-glyph-heart.svg" />
                        <small>{{ pastrie.order }}</small>
                        <img class="glyph-icon" src="./svg/icons8-double-droite-50.png" />
                        <small>{{ pastrie.quantity }} unités disponibles</small>
                        <br>
                    </div>
                </div>
                <app-paginate 
                    [currentPage]="currentPage"
                    [itemsPerPage]="itemsPerPage"
                    [totalItems]="totalItems"
                    (pageChanged)="onPageChange($event)"
                ></app-paginate>
                <br><br>
            </ng-container>
        </div>
    </div>
</div>