<!--  -->
<div class="container-fuild principal">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">{{ title }}</a>
  </nav>
  <div class="container-fuild principal">
    <nav class="navbar navbar-expand-lg navbar-light">
      <!-- <a class="navbar-brand" href="#">{{ titlePage }}</a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <a class="nav-link" href="#">Home
                      <span class="sr-only">(current)</span>
                  </a>
              </li>
              <li class="nav-item active">
                      <!-- Ancien se connecter -->
                  <!-- <a class="nav-link" href="#">Se connecter
                      <span class="sr-only">(current)</span>
                  </a> -->
                      <!-- le nouveau par lequel il faut remplacer l'ancien -->
                  <a class="nav-link" routerLink="/login" routerLinkActive="active">
                      Se connecter
                  </a>
                  <!-- <app-login></app-login> -->
              </li>
          </ul>

          <button type="button" class="btn btn-danger">anonymous mode.</button>
      </div>
  </nav>

    <!-- Ici la liste des patisseries -->
    <app-pastries></app-pastries>
  </div>
</div>